<!DOCTYPE html>
<html lang="zh-CN">
<% if(is_post()) { %>
<%    banner_img = page.banner_img || theme.post.banner_img || theme.index.banner_img %>
<%    var banner_img_height = theme.post.banner_img_height %>
<%    var subtitle = page.title %>
<% } else if(is_home()) { %>
<%    var banner_img = theme.index.banner_img %>
<%    var banner_img_height = theme.index.banner_img_height %>
<%    if(theme.index.subtitle.enable) { var subtitle = config.subtitle } %>
<% } else if (page.type == 'about') { %>
<%    var banner_img = theme.about.banner_img || theme.index.banner_img %>
<%    var banner_img_height = theme.about.banner_img_height %>
<%    var subtitle = '朝出东海暮苍梧' %>
<% } else if(is_archive()) { %>
<%    var banner_img = theme.archive.banner_img || theme.index.banner_img %>
<%    var banner_img_height = theme.archive.banner_img_height %>
<%    var subtitle = '' %>
<% } else { %>
<%    var subtitle = page.title %>
<%    var banner_img = theme.index.banner_img %>
<%    var banner_img_height = theme.index.banner_img_height %>
<% } %>

<%- partial('_partial/head') %>

<body>
  <header style="height: <%- banner_img_height %>vh;">
    <%- partial('_partial/nav') %>
    <div class="view intro-2" style='background: url("<%- banner_img %>")no-repeat center center;background-size: cover;background-attachment: fixed;'>
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
            <span class="h2"><%- subtitle %></span>
            <span class="lineSymbol h2">_</span>
            <br>
            <% if(is_post()) { %>
            <p><%- full_date(page.date, 'dddd, MMMM Do YYYY, h:mm a') %></p>
            <% } %>
        </div>
        </div>
    </div>
    </div>
  </header>

  <!-- 搜索框 -->
  <div id="searchBox">
    <div class="searchInput">
      <span>
        <svg t="1567566589855" class="icon" viewBox="0 0 1057 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1195" width="200" height="200"><path d="M718.205664 663.873402l2.115782 1.945155 295.595242 301.737835c8.360752 8.258375 11.705053 20.475311 8.770259 31.941486a32.487494 32.487494 0 0 1-22.966474 23.444231 31.736732 31.736732 0 0 1-31.258975-8.975011l-295.595242-301.70371a32.794623 32.794623 0 0 1-0.273005-0.204753 396.197271 396.197271 0 0 1-564.3337-19.212667c-151.312549-162.8811-146.261973-419.675628 11.261421-576.277633a396.163145 396.163145 0 0 1 564.674956 3.822058 33.306506 33.306506 0 0 1-0.409506 46.035325 31.702607 31.702607 0 0 1-45.045685 0.409506C520.107029 43.880981 328.66287 31.937049 194.344828 138.954675 59.958536 246.006427 24.809252 438.474352 112.375333 587.705245c87.531955 149.265018 270.342358 208.541044 426.227727 138.20835 155.851243-70.332694 235.943836-248.229022 186.700712-414.795678a33.306506 33.306506 0 0 1 7.405238-31.941486 31.736732 31.736732 0 0 1 30.815343-9.418643 32.419243 32.419243 0 0 1 23.410106 22.522842c12.660567 43.134655 18.325403 88.18034 16.721504 133.26015a413.94254 413.94254 0 0 1-85.484424 238.332622z" p-id="1196" fill="#707070"></path></svg>
      </span>
      <input type="text" id="searchLocalInput">
      <span>
        <svg t="1567575478482" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2422" width="200" height="200"><path d="M802.6 727.9L591.5 516.8l211.1-211.1c21-21 21-55.4 0-76.5-21-21-55.4-21-76.5 0L515 440.3 303.9 229.2c-21-21-55.4-21-76.5 0-21 21-21 55.4 0 76.5l211.1 211.1-211.1 211.1c-21 21-21 55.4 0 76.5 21 21 55.4 21 76.5 0L515 593.3l211.1 211.1c21 21 55.4 21 76.5 0s21.1-55.4 0-76.5z" p-id="2423" fill="#707070"></path></svg>
      </span>
    </div>
    <ul id="searchContent"></ul>
  </div>
  
  <main>
  <% if(is_post()) { %>
  <%- body %>
  <% } else { %>  
  <div class="container">
    <div class="py-5 z-depth-3 main">
      <% if(page.type == 'about') { %>
        <div class="about-avatar">
          <div class="avatar rounded-circle">
            <img src="<%- url_for(theme.about.avatar) %>" class="z-depth-1" alt="avatar">
          </div>
        </div>
      <% } %>
      <div class="container">
        <div class="row">
          <div class="col-10 offset-1">
            <%- body %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  </main>

<%- partial('_partial/footer') %>
</body>
</html>