<div id="gitment" style="width:100%;"></div>
<script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
<script>
  let gitment = new Gitment({
    id: '<%= page.subtitle %>',
    owner: '<%= gitment.github_user %>',
    repo: '<%= gitment.github_repo %>',
    oauth: {
      client_id: '<%= gitment.client_id %>',
      client_secret: '<%= gitment.client_secret %>',
    },
  })
  gitment.render('gitment')
</script>
