<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<footer class="mt-5">
  <marquee scrolldelay="200" class="webViewData">
    <% if(page.type == 'home') { %>
      <span id="busuanzi_value_site_uv"></span>位道友拜访过
      <span id="busuanzi_value_site_pv"></span>次流连忘返
    <% } %>
    此处<span id="busuanzi_value_page_pv"></span>次留名
  </marquee>
  <span id="busuanzi_container_site_uv"></span>
  <span id="busuanzi_container_site_pv"></span>
  <span id="busuanzi_container_page_pv"></span>
</footer>

  <!-- SCRIPTS -->
  <%- js("https://cdn.jsdelivr.net/npm/mdbootstrap@4.7.4/js/jquery-3.3.1.min.js") %>
  <%- js("https://cdn.jsdelivr.net/npm/mdbootstrap@4.7.4/js/popper.min.js") %>
  <%- js("https://cdn.jsdelivr.net/npm/mdbootstrap@4.7.4/js/bootstrap.min.js") %>
  <%- js("https://cdn.jsdelivr.net/npm/mdbootstrap@4.7.4/js/mdb.min.js") %>
  <%- js("js/main.js") %>
  <% if(is_post()){ %>
    <% if(theme.post.toc.enable){ %>
      <%- js("https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js") %>
    <% } %>
    <%- js("/js/post.js") %>
    <% if(theme.post.highlight.enable){ %>
      <%- js("js/plugins/prettify.js") %>
      <script>
          $(document).ready(function(){
              $('pre').addClass('prettyprint linenums');
              prettyPrint();
          })
      </script>
    <% } %>
  <% } %>